.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 100px;
   background: grey;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.nav{
   box-shadow: 0 0 12px -2px black;
   position: fixed;
   left: 0;
   right: 0;
   align-items: center;
   background-color: #333333;
   color: aliceblue;
   display: flex;
   height: 80px;
   padding: 10px;
   display: flex;
   justify-content: space-between;
}

.navbar a{
   font-size: 25px;
   color:white;
   font-weight: 500;
   text-decoration: none;
   justify-content: space-between;
   margin-right: 20px;
}

.Libby{
   font-size: 25px;
   color: pink;
   text-decoration: none;
}

*{
   box-sizing: border-box;
}

body{
   min-height: 100vh;
   background-color: lightblue;
}

.main{
   min-height: 100vh;
   padding: 85px 24px 96px;
   box-shadow: 0 0 12px -2px black;
   color: aliceblue;
   font-family: 'Open Sans', sans-serif
   font-size: 25px;
}

#profilepic{
   float: right;
   width: 300px;
   height: 300px;
   margin: 70px;
   }

.h2{
   display: block;
   font-size: 1.5em;
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}

.h3{
   font-size: 20px;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-size: 300px;   
}

.title{
   font-family:'Times New Roman', Times, serif;
   font-size: 30px;
   font-weight: 650;
   text-align: center;
   margin-top: 100px;
}

.personalquote{
   font-family: 'Times New Roman', Times, serif;
   font-size: 30px;
   font-weight: 60;
   text-align: center;
}

.quote{
   font-family: Times New Roman, cursive;
   font-size: 30px;
   font-weight: 100;
   text-shadow: 1px 1px 2px black;
   text-align: center;
   margin-top: 4em;
}

.personalquote2{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   font-weight: 30;
}

.Here{
   font-family: 'Times New Roman', Times, serif;
   font-size: 30px;
   font-weight: lighter;
   text-align: center;
}

#hikingpic{
   float: right;
   width: 350px;
   height: 350px;
   margin: 0 24px 24px 24px;
}

#travelpic {
   float: right;
   width: 350px;
   height: 300px;
}

#musicpic{
   width: 350px;
   height: 300px;
}
      
.container{
   display:flex;
   flex-direction: column;
   margin-top: 120px;
   margin-bottom: 200px;

}

#firstproject{
   width: 300px;
   float: right;
}

#secondproject{
   width: 300px;
   height: 200px;
}

#thirdproject{
   width: 300px;
   height: 300px;
   float: right;
}

.Contact{
   font-family: 'Times New Roman', Times, serif;
   font-size: 40px;
   font-weight: 100px;
   margin-top: 100px;
}

footer {
   background-color: gray;
   height: 70px;
   padding: 10px;
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   display: flex
   box-shadow: 0 0 12px -2px black;
   }

.media-link {
   width: 59px;
   height: 59px;
   margin-right: 55px;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
   .container {
     flex-wrap: wrap;
   }
   .nav {
      flex-wrap: nowrap;
   }
 }